<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>排队列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="static/css/mui.min.css">
		<link rel="stylesheet" href="static/css/app.css">
		<script src="static/js/lib/mui.min.js"></script>
		<script src="static/js/lib/angular.min.js"></script>
		<script data-main="static/js/app" src="static/js/require.js" defer async="true"></script>
	</head>
	<body>
		<div class="mui-content queue-content" ng-app="queue" ng-controller="list" ng-init="dkHide=true;item1_empty=true;item1_list=true">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item dk_lists" href="#item{{$index+1}}mobile" ng-hide="dkHide" ng-repeat="dl in dklist">{{dl.dkName}}</a>
					<i class="mui-spinner queu-loading" ng-hide="dkLoading"></i>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item{{$index+1}}mobile" class="mui-slider-item mui-control-content mui-active" ng-repeat="dl in dklist" dkId="{{dl.dkId}}">
						<div id="scroll{{$index+1}}" class="mui-scroll-wrapper" ng-hide="item1_loading">
							<div class="mui-scroll">
								<div class="mui-loading">
									<div class="mui-spinner">
									</div>
								</div>
							</div>
						</div>
						
						<ul class="mui-table-view" ng-hide="item1_empty">
							<li class="mui-table-view-cell row-not-data">暂无数据！</li>
						</ul>
						
						<ul class="mui-table-view" ng-hide="item1_list">
							<li class="mui-table-view-cell" ng-repeat="ql in queue_list">
							 	<span>{{ql.queueCode}}</span>
							 	<span style="float:right;"><button type="button" class="mui-btn mui-btn-danger" ng-click="callnum(dl.dkId,ql.queueCode)">叫号</button></span>
							 </li>
						</ul>
						
						
					</div>
					
				</div>
			</div>

		</div>
		<script type="text/javascript">
			var queue_module = angular.module('queue',[]);
			queue_module.controller('list',function($scope,$http){
					$http({
						method:'post',
						url:'Controller/Queue.php?action=list',
						data:{"token":"6285afa7882d94f93d722625a08dbfb6"},
					}).success(function(result){
						if(result.statusCode != 1){
							mui.toast(result.statusMsg);
							return ;
						}
						
						//桌型列表
						$scope.dklist = result.dkList;
						$scope.dkHide = false;
						$scope.dkLoading = true;
						
						
						//排队列表
						var queuelist = result.queueList;
						if( queuelist && queuelist.length > 0 ){
							$scope.queue_list = queuelist;
							$scope.item1_list = false;
						}else{
							$scope.item1_empty = false;
						}
						$scope.item1_loading = true;
						
					}).error(function(){
						mui.toast("服务器错误，请稍后再试！");
					});
					
					//叫号
					$scope.callnum = function(dkId,callNum){
						$http({
							method:'post',
							url:'Controller/Queue.php?action=callNumber',
							data:{"token":"6285afa7882d94f93d722625a08dbfb6","dkId":dkId,"callNum":callNum},
						}).success(function(result){
							mui.toast("叫号成功");
						}).error(function(e){
							mui.toast("叫号失败");
						});
					}
					
			});
			
		</script>
	</body>
</html>
